<header id="header_main">
    <div id="nav_main">
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="About">about</a>
                <a href="signIn">Sign in</a>
                <a href="booking">Booking</a>
            </div>
        </div>

        <a id="home" href="/" class="link">home</a>
    </div>
</header>
<div id="headerHome">
    <h1 id="titleHome">
        Visit Australia and Pacific </h1>
</div>